        .bash_history
        .gitconfig
        .lesshst
        .vscode/
        AppData/
        Contacts/
        Downloads/
        Favorites/
        IntelGraphicsProfiles/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{fc6193a3-b7d7-11ee-84fb-855b1e2198b1}.TM.blf
        NTUSER.DAT{fc6193a3-b7d7-11ee-84fb-855b1e2198b1}.TMContainer00000000000000000001.regtrans-ms     
        NTUSER.DAT{fc6193a3-b7d7-11ee-84fb-855b1e2198b1}.TMContainer00000000000000000002.regtrans-ms     
        OneDrive/
        Saved Games/
        Searches/
        Videos/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini

        //do not